@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #000;
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-readex: var(--font-readex);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-olive: #dce5e2;
  --color-purple: #b276fc;

  --shadow-latest: 0px 4px 35px 1px rgba(0, 0, 0, 0.25);

  --breakpoint-s992: 62rem;
  --breakpoint-s661: 41.313rem;
  --breakpoint-s420: 26.25rem;
  --breakpoint-s860: 53.75rem;

  --animate-line-fill: linefill 2s ease-in-out forwards;
  @keyframes linefill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--black);
  font-family: var(--font-inter);
  font-size: 16px;
  position: relative;
}
